

/* @media only screen  and  (max-width:460px){

    .navbar {
        width: 100%;
        position: fixed;
        justify-content: center;
    } 
    .navbar:nth-child(1) {
        flex-wrap: wrap;
    }
     */
  /* } */